/* mde */
a {
    color: #3366cc;  
    /* color: #75507b; */
}
a:hover {
  color: #5c3566; 
}


.section {
    color: #333;
    padding: 4rem 0px 4rem;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– 26447439 */ 
.header {
    /* background-image: url('../images/header_image.svg'); */
    background-color: white;
    background-size: cover;
    color: #000;
    padding-bottom: 0rem;
    padding-top: 2rem;
    margin-top: 0rem;
}
.header-share-button {
    width: 6rem;
}
.header-banner {
    width: 50%;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
    background-color: black;
    color: #fff;
    padding: 1rem 0px 1rem;
}
.footer-share-button {
    width: 8rem;
}

/* publications
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.article {
    text-indent: -2em; 
    margin-left: 3em;
    padding-bottom: 2rem;
}

.visualization_header {
    padding-bottom: 0rem;
    align: right;
    /* text-align: right; */
}

.visualization0 {
}

.visualization1 {
}

.visualization_image {
    width: 400px;
    max-width: 100%;
    border-radius: 5px;
}

.roundimg {
    border-radius: 25px;
    max-width: 100%;
}


/* NAVBAR and pop-over links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navbar {
    display: block;
}
.navbar + .docs-section {
    border-top-width: 0; }
.navbar,
.navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #2e2e2e; /* 800*/
    z-index: 99;
    border-top: 0px solid #000;
    border-bottom: 0px solid #000;
}
.navbar-spacer {
    display: none; }
.navbar > .container {
    width: 100%; }
.navbar-list {
    list-style: none;
    margin: 0; }
.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
}
.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 4.5rem;
    color: #fff;
}
.navbar-link.active {
    color: #33C3F0; }

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #000; 
    z-index: 99;
}
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
  }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }

/*   /\* Popover *\/ */
/*   .popover.open { */
/*     display: block; */
/*   } */
/*   .popover { */
/*     z-index: 99; */
/*     display: none; */
/*     position: absolute; */
/*     top: 0; */
/*     left: 0; */
/*     background: #fff; */
/*     border: 1px solid #eee; */
/*     border-radius: 4px; */
/*     top: 92%; */
/*     left: -30%; */
/*     /\*width: 250px;*\/ */
/*     -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); */
/*        -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); */
/*             filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); } */
/*   .popover-item:first-child .popover-link:after,  */
/*   .popover-item:first-child .popover-link:before { */
/*     bottom: 100%; */
/*     left: 50%; */
/*     border: solid transparent; */
/*     content: " "; */
/*     height: 0; */
/*     width: 0; */
/*     position: absolute; */
/*     pointer-events: none; } */
/*   .popover-item:first-child .popover-link:after { */
/*     border-color: rgba(255, 255, 255, 0); */
/*     border-bottom-color: #fff; */
/*     border-width: 10px; */
/*     margin-left: -10px; } */
/*   .popover-item:first-child .popover-link:before { */
/*     border-color: rgba(238, 238, 238, 0); */
/*     border-bottom-color: #eee; */
/*     border-width: 11px; */
/*     margin-left: -11px; } */
/*   .popover-list { */
/*     padding: 0; */
/*     margin: 0; */
/*     list-style: none; } */
/*   .popover-item { */
/*     padding: 0; */
/*     margin: 0; } */
/*   .popover-link { */
/*     position: relative; */
/*     color: #222; */
/*     display: block; */
/*     padding: 8px 20px; */
/*     border-bottom: 1px solid #eee; */
/*     text-decoration: none; */
/*     text-transform: uppercase; */
/*     font-size: 1.0rem; */
/*     font-weight: 600; */
/*     text-align: center; */
/*     letter-spacing: .1rem; } */
/*   .popover-item:first-child .popover-link { */
/*     border-radius: 4px 4px 0 0; } */
/*   .popover-item:last-child .popover-link { */
/*     border-radius: 0 0 4px 4px; */
/*     border-bottom-width: 0; } */
/*   .popover-link:hover { */
/*     color: #fff; */
/*     background: #33C3F0; } */
/*   .popover-link:hover, */
/*   .popover-item:first-child .popover-link:hover:after { */
/*     border-bottom-color: #33C3F0; } */
/* } */

/* publications
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.captioned_image {
    /* border-radius: 10px;  */
    /* background-color: #ccc; */
    /* float: right; */
    padding: 10px;
    padding-bottom: 50px;
    padding-top: 100px;
    /* width: 400px; */
    /* margin-left: 50px;  */
    /* margin-right: -300px; */
}

.project-link {
    font-family: "Lato";
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 1.3rem;
}

ol li{
    padding-bottom: 1em;
    text-indent: -1em;
    margin-left: 1em;
}

ul li {
    padding-bottom: 1em;
}

.centered_image {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.2em;
}

.student {
    padding-bottom: 1em;
}

.student_name {
    font-weight: bold;
}

.project_title {
    font-style: italic;
}

h4 {
    text-align: right;
    text-transform: uppercase;
    font-size: 1.7rem; line-height: 1.2; letter-spacing: -.08rem; }

}
